{% extends 'base.html.twig' %}
{% block title %}Тестовая страница{% endblock %}
{% block body %}
    <h1>Тестовая страница</h1>
    <p class="text-center"><a href="{{ path('app_user_logout') }}">Выйти</a></p>
{% endblock %}