{% if rows %}
    <table class="table table-striped">
        <tbody>
        {% for row in rows %}
            <tr>
                <td><a href="#">{{ row.MAKTX }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Результатов не найдено</p>
{% endif %}
