@import "~bootstrap/scss/bootstrap";

body {
  padding: 1.5rem 2rem;
}

h1, input, button {
  margin-bottom: 1rem;
}

button[type=submit] {
  padding: 0.25rem 2rem 0.5rem;
}

.pagination span {
  margin: 0 0.25rem;
}

#search-result {
  display: block;
  max-height: 16rem;
  overflow-y: auto;
}